:host{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 35px;
}

.day-icon-header {
  font-size: 30px;
  color: #333333;
  font-weight: 100;
}

.day-icon-img {
  height: 130px;
}
